<template>
  <div id="app">
    <div>
      <button class="header-btn">
        <router-link to="/">Go to task_2</router-link>
      </button>
      <button class="header-btn">
        <router-link to="/task_4">Go to task_4</router-link>
      </button>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.header-btn {
  margin: 10px;
}
</style>
