<template>
  <div class="card">
    <p class="card-id"># {{ id }}</p>
    <p>{{ title }}</p>
    <img class="card-photo" :src="photo" alt="none" width="300" />
    <p class="card-title-options">PRODUCT OPTIONS:</p>
    <ul class="card-options">
      <li>Metal type: {{ options.metal_type }}</li>
      <li>Metal color: {{ options.metal_color }}</li>
      <li>Stone shape: {{ options.stone_shape }}</li>
      <li>Gemstone color: {{ options.gemstone_color }}</li>
    </ul>
    <p class="card-price">{{ price.toFixed(2) }} {{ currency }}</p>
  </div>
</template>

<script>
export default {
  name: "ProductCard",
  props: {
    id: {
      type: String,
      default: "0",
    },
    title: {
      type: String,
      default: "",
    },
    photo: {
      type: String,
      default: "",
    },
    price: {
      type: Number,
      default: 0,
    },
    currency: {
      type: String,
      default: "$",
    },
    sku: {
      type: String,
      default: "",
    },
    options: {
      type: Object,
      default: () => {
        return {
          gemstone_color: "",
          metal_color: "",
          metal_type: "",
          stone_shape: "",
        };
      },
    },
  },
};
</script>

<style scoped>
.card-options {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: start;
}
.card {
  border: 1px solid gray;
  border-radius: 5px;
}
.card-title-options {
  font-weight: bold;
}
.card-id {
  margin-bottom: -10px;
}
.card-photo {
  margin-top: -15px;
}
.card-price {
  font-weight: bold;
  font-size: larger;
}
</style>
