<template>
  <div class="hello">
    <p v-if="ls_num" :class="[oddEven ? 'bg-green' : 'bg-red']">
      {{ ls_num }}
    </p>
    <form @submit.prevent>
      <input v-model="text" type="number" />
      <button :disabled="fieldFullness" @click="set">Set</button>
      <button @click="clear">Clear</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Task_2",
  data() {
    return {
      text: "",
      ls_num: null,
    };
  },
  created() {
    this.ls_num = localStorage.getItem("num23");
  },
  methods: {
    clear() {
      this.text = "";
      this.ls_num = "";
      localStorage.removeItem("num23");
    },
    set() {
      if (this.fieldFullness) {
        return;
      }
      localStorage.setItem("num23", this.text);
      this.ls_num = this.text;
    },
  },
  computed: {
    fieldFullness() {
      return this.text.length === 0;
    },
    oddEven() {
      return !(this.ls_num % 2);
    },
  },
};
</script>
<style>
.bg-green {
  background-color: #00a016;
}
.bg-red {
  background-color: #b80007;
}
</style>
