<template>
  <ul class="container">
    <li class="container-item" v-for="item in products" :key="item.id">
      <ProductCard
        :id="item.id"
        :title="item.title"
        :price="+item.price"
        :currency="item.currency"
        :sku="item.sku"
        :options="item.options[0]"
        :photo="item.image"
      />
    </li>
  </ul>
</template>

<script>
import ProductCard from "./ProductCard";
import { loadProducts } from "@/api";

export default {
  name: "Task_4",
  components: {
    ProductCard,
  },
  data() {
    return {
      products: [],
    };
  },
  async created() {
    this.products = await loadProducts();
  },
};
</script>

<style scoped>
ul {
  list-style: none;
}
.container {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container-item {
  flex-basis: 20%;
  margin: 15px;
}
</style>
